<!DOCTYPE html>
<html>
<head>
<title>Sports</title>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<title></title>
</head>
<li><a href="sports"> Sports</a></li>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top navbar-expand-lg justify-content-between">
  	<div class="container-fluid">
  		<div class="navbar-header">
  			<a class="navbar-brand" href="/"> The Olympics </a>
  		</div>
	    <ul class="nav navbar-nav">
	    	<li><a href="/countries"> Countries </a></li>
		<li><a href="/host-cities"> Host Cities </a></li>
    <li><a href="/sports"> Sports </a></li>
      </ul>
    </div>
  </nav>
<div class="bg-image">
<picture>
<img src="{{banner}}?interpolation=lanczos-none&resize=1920:640" alt="{{name}}" class="lazyload"></picture>
</div>
<h1 style="margin-left: 20px">{{name}}</h1>
<img style="margin-left: 20px" src={{img}}/>

<table align = "center">
{% set eventarray = events.split("|") %}
{% for event in eventarray %}
    <tr>
    <td>
    {% if event == "MEN" %}
        <h2>{{event}}</h2>
        {% continue %}
    {% endif %}
    {% if event == "WOMEN" %}
        <h2>{{event}}</h2>
        {% continue %}
    {% endif %}
    {% if event == "MIXED" %}
        <h2>{{event}}</h2>
        {% continue %}
    {% endif %}
    <h4>{{event}}</h4>
    </td>
    </tr>
{% endfor %}


</table>
</body>
</html>