<!DOCTYPE html>
<html>
<head>

	<style>
		.datatable{
			text-align: center;
			margin-left:auto;
    		margin-right:auto;
			border-collapse: collapse;
			border: 1px solid black;
		}
	</style>

	<title>Countries</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<title></title>
</head>

<li><a href="countries"> Countries </a></li>

<body>

<br>
<br>

{{table | safe}}

<nav class="navbar navbar-inverse navbar-fixed-top navbar-expand-lg justify-content-between">
  	<div class="container-fluid">
  		<div class="navbar-header">
  			<a class="navbar-brand" href="/"> The Olympics </a>
  		</div>
	    <ul class="nav navbar-nav">
	    	<li><a href="/countries"> Countries </a></li>
		<li><a href="/host-cities"> Host Cities </a></li>
    <li><a href="/sports"> Sports </a></li>
      </ul>
    </div>
  </nav>
</body>

<body>


</body>

</html>