<!DOCTYPE html>
<html>
<head>

<style>
	.countrybutton{
		background-color: #FFF;
		border: 1px solid black;
		color: black;
		padding: 5px 10px;
		text-decoration: none;
		display: inline-block;
		font-size: 15px;
		font-weight: 500;
		border-radius:10px;
		margin-bottom: 10px;
		margin-right: 10px;
		margin-left: 10px;
	}
	.countrycontainer{
		text-align: center;
	}
</style>

	<title>Countries</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<title></title>
</head>

<li><a href="countries"> Countries </a></li>

<body>

<br>
<br>
{% for i in range(0, num) %}
<div style = "text-align: center;">
	<img src = {{imgs[i]}} width=35 height=20>
	<a class="countrybutton" href="/countries/{{names[i]}}"> {{names[i]}}</a>
	<img src = {{imgs[i]}} width=35 height=20>
</div>
{% endfor %}
<nav class="navbar navbar-inverse navbar-fixed-top navbar-expand-lg justify-content-between">
  	<div class="container-fluid">
  		<div class="navbar-header">
  			<a class="navbar-brand" href="#"> Countries </a>
  		</div>
	    <ul class="nav navbar-nav">
	<li><a href="/"> Back </a></li>
</body>

<body>


</body>

</html>