
<!DOCTYPE html>
<html>
<head>

	<title>Venues</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<title></title>
</head>

<li><a href="venues"> Venues</a></li>



<body>
	<nav class="navbar navbar-inverse navbar-fixed-top navbar-expand-lg justify-content-between">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#"> Venues</a>
			</div>
			<ul class="nav navbar-nav">
				<li><a href="/"> Back </a></li>
			</ul>
		</div>
	</nav>

	<h1>Host Cities</h1>
	
	<table class="table">
		<tr>
			<th>Year</th>
			<th>Season</th>
			<th>Host City</th>
			<th>Host Country</th>
			<th>Countries Participated</th>
			<th>Athletes Participated</th>
			<th># of Events</th>
		</tr>
	{% for key in obj.keys(): %}
		
		<tr>
			<td>{{obj[key]['year']     }}</td>
			<td>{{obj[key]['season']   }}</td>
			<td><a href='/'>{{obj[key]['city']     }}</a> </td>
			<td>{{obj[key]['country']  }}</td>
			<td>{{obj[key]['countries']}}</td>
			<td>{{obj[key]['athletes'] }}</td>
			<td>{{obj[key]['events']   }}</td>
		</tr>
		
	{% endfor %}
	</table>
	 
</body>
</html>