
<!DOCTYPE html>
<html>
<head>

	<title>Sports</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<title></title>
</head>

<li><a href="sports"> Sports</a></li>



<body>
<br>
<br>
<div style = "text-align: center;">
<table align = "center">
{% for i in range(0, num) %}
    {% if i is divisibleby 6 %}
    <tr>	
    {% endif %}
    <td>
	<img src = {{imgs[i]}} width=96 height=96><br>
	<a class="btn btn-success" href="/sports/{{names[i]}}"> {{names[i]}}</a>
    </td>
    {% if i-i//6*6 == 5 or i==num-1 %}
    </tr>
    {% endif %}	
{% endfor %}
</table>
</div>

<nav class="navbar navbar-inverse navbar-fixed-top navbar-expand-lg justify-content-between">
  	<div class="container-fluid">
  		<div class="navbar-header">
  			<a class="navbar-brand" href="#"> Sports</a>
  		</div>
	    <ul class="nav navbar-nav">
	<li><a href="/"> Back </a></li>
</nav>

</body>
</html>