
<!DOCTYPE html>
<html>
<head>
<style>
th {font-size:60px}
</style>
	<title>Sports</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<title></title>
</head>

<li><a href="sports"> Sports</a></li>



<body>
<br>
<br>
<div style = "text-align: center" data-jplist-group="group1">
<h1> Jump to </h1>
<a href = "#summer">Summer Sports</a> <a>|</a>
<a href = "#winter">Winter Sports</a> <a>|</a>
<a href = "#historical">Historical Sports</a>
<table align = "center">
<tr>
    <th colspan="6" id ="summer">Summer Sports</th>
</tr>
<input data-jplist-control="textbox-filter" data-group="group1" data-clear-btn-id="title-clear-btn" data-name="filter" data-path=".card" type="text" 
	value="" placeholder="Search for sport" data-id="search" style = "margin-left: 15px;"/>
<button type="button" id="title-clear-btn" style="margin-right: 20px;">Clear</button>
{% set searchterm = "" %}
{% for i in range(0, 47) %}
    {% if (i) is divisibleby 6 %}
    <tr>
    {% endif %}
    <td>
	<div data-jplist-item>
	<img src = {{imgs[i]}} width=96 height=96><br>
	<a class="btn btn-success" href="/sports/{{names[i]}}"> {{names[i]}}</a>
	</div>
    </td>
    {% if i-i//6*6 == 5 or i==46 %}
    </tr>
    {% endif %}
{% endfor %}
<tr>
    <th colspan="6" id ="winter">Winter Sports</th>
</tr>
{% for i in range(0, num-47) %}
    {% if i+47 == 62 %}
    <tr>
	<th colspan="6" id = "historical">Historical Sports</th>
    </tr>
    {% endif %}
    {% if (i) is divisibleby 6 %}
    <tr>
    {% endif %}
    <td>
	<img src = {{imgs[i+47]}} width=96 height=96><br>
	<a class="btn btn-success" href="/sports/{{names[i+47]}}"> {{names[i+47]}}</a>
    </td>
    {% if i-i//6*6 == 5 or i==num-47 %}
    </tr>
    {% endif %}
{% endfor %}
</table>
<h1> Jump to </h1>
<a href = "#">Top</a> <a>|</a>
<a href = "#summer">Summer Sports</a> <a>|</a>
<a href = "#winter">Winter Sports</a> <a>|</a>
<a href = "#historical">Historical Sports</a>
</div>

<nav class="navbar navbar-inverse navbar-fixed-top navbar-expand-lg justify-content-between">
    <div class="container-fluid">
  	<div class="navbar-header">
  	    <a class="navbar-brand" href="/"> The Olympics </a>
  	</div>
	<ul class="nav navbar-nav">
	    <li><a href="/countries"> Countries </a></li>
	    <li><a href="/host-cities"> Host Cities </a></li>
    	    <li><a href="/sports"> Sports </a></li>
        </ul>
    </div>
</nav>

</body>
</html>